html {
  background-color: black;
}
body {
  margin: 0 auto;
  padding: 0 auto;
  max-width: 1920px;
  overflow: hidden;
}
p {
  font-family: "Roboto", "sans-sefif";
  margin: 0;
  color: white;
  font-weight: 400;
}
ol,
ul,
li {
  list-style: none;
}
a {
  font-family: "Roboto", "sans-sefif";
  color: white;
  text-decoration: none;
}
._container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
header {
  display: flex;
  height: 85px;
  align-items: center;
}
.header-text {
  display: flex;
  gap: 20px;
  margin-left: 35px;
}
.header-text p {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.8;
  text-transform: uppercase;
}
.header-button {
  margin-left: 239px;
  width: 85px;
  height: 85px;
  background-color: black;
  border: solid;
  border-top: none;
  border-bottom: none;
  border-color: rgba(255, 255, 255, 0.15);
  border-left-width: 1px;
  border-right-width: 1px;
}
.header-buy {
  margin-left: 350px;
}
.number {
  background-color: #c6100f;
  width: 23px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
}
.header-contact {
  width: 136px;
  height: 43px;
  background-color: #c6100f;
  border: none;
  border-radius: 4px;
  margin-left: 20px;
}
.header-contact a {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
hr {
  margin: 0;
  width: 100%;
  border: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.15);
}
.Branding {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 680px;
  max-width: 1920px;
}
.Branding-text p {
  margin: 0;
  font-size: 130px;
  line-height: 130px;
  text-transform: uppercase;
}
.Branding-media {
  display: flex;
  transform: rotate(90deg);
  position: absolute;
  z-index: 50;
  top: 500px;
  right: -150px;
}
.Branding-media img {
  padding-right: 7px;
}
.Branding-media p {
  padding-right: 61px;
  font-size: 11px;
}
.play-imgs {
  padding-top: 43px;
  padding-right: 40px;
}
.play-imgl {
  position: absolute;
  overflow: hidden;
}
.play-img {
  position: relative;
  z-index: 3;
  bottom: 145px;
  right: 98px;
}
.play-img-triangle {
  position: relative;
  z-index: 4;
  bottom: 215px;
  right: 183px;
}
.play-text {
  padding-top: 133px;
  display: flex;
}
.play-text p {
  font-size: 80px;
  text-transform: uppercase;
  padding-left: 120px;
  line-height: 88px;
}
.play-texts-button {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 145px;
  width: 430px;
  padding-top: 57px;
}
.play-texts-button p {
  font-size: 20px;
  padding: 0;
  text-transform: none;
  opacity: 0.8;
  line-height: 24px;
}
.play-texts-button button {
  width: 163px;
  height: 43px;
  background-color: #c6100f;
  border: none;
  border-radius: 4px;
}
.play-texts-button a {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.teams {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  gap: 35px;
}
.teams-logo {
  display: grid;
  grid-template-columns: 160px 238px 120px;
  grid-template-rows: repeat(2, 75px);
  justify-items: center;
  align-items: center;
}
.teams-textl {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.teams-texts {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 42px;
}
.work {
  text-align: center;
  font-size: 130px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 138px;
}
.img {
  width: 100%;
  display: flex;
  overflow: hidden;
}
.imgl {
  width: 100%;
  height: auto;
}
.red-text {
  background-color: #c6100f;
  width: 100%;
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.red-text p {
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
}
.build {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.build-text {
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: flex-start;
}
.build-blocks {
  padding-top: 82px;
  display: flex;
  gap: 30px;
}
.block {
  width: 300px;
  height: 337px;
  background-color: #171924;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block-item {
  position: relative;
  z-index: 2;
  padding: 15px 15px 0 15px;
}
.block-img {
  position: absolute;
  z-index: 3;
  padding-top: 45px;
}
.block-textl {
  font-size: 19px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 25px;
}
.block-texts {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  opacity: 0.8;
  padding-top: 10px;
}
.testimonials {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials-title {
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.testimonials-img {
  padding-top: 82px;
}
.testimonials-textl {
  padding-top: 29px;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.testimonials-texts {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.7;
}
.testimonials-square {
  padding-top: 25px;
  display: flex;
  gap: 10px;
}
.square-white {
  width: 11px;
  height: 11px;
  background-color: white;
}
.square {
  width: 11px;
  height: 11px;
  background-color: white;
  opacity: 0.4;
}
.skills {
  padding-top: 150px;
  display: flex;
}
.skills-text {
  display: flex;
  flex-direction: column;
  margin-right: 105px;
}
#skills-textl {
  font-size: 80px;
  opacity: 1;
  text-transform: uppercase;
  padding-bottom: 61px;
  padding-top: 77px;
}
.skills-text p {
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0.7;
}
.graphic {
  display: inline-flex;
  gap: 325px;
  padding-bottom: 11px;
}
.lead {
  display: inline-flex;
  gap: 317px;
  padding-bottom: 11px;
}
.photoshop {
  display: inline-flex;
  gap: 354px;
  padding-bottom: 11px;
}
.illustration {
  display: inline-flex;
  gap: 350px;
  padding-bottom: 11px;
}
.procent-graphic {
  height: 2px;
  width: 396px;
  background-color: #c6100f;
  margin-bottom: 20px;
}
.procent-lead {
  height: 2px;
  width: 203px;
  background-color: #c6100f;
  margin-bottom: 20px;
}
.procent-photoshop {
  height: 2px;
  width: 347px;
  background-color: #c6100f;
  margin-bottom: 20px;
}
.procent-illustration {
  height: 2px;
  width: 495px;
  background-color: #c6100f;
  margin-bottom: 20px;
}
.facts {
  padding-top: 150px;
}
.facts-blocks {
  display: flex;
}
.facts-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 1px;
}
.facts-block {
  display: flex;
  padding-top: 71px;
}
.facts-block-text {
  margin-right: 32px;
}
.facts-block img {
  padding: 12px 20px 12px 32px;
}
.facts-block-textl {
  text-transform: uppercase;
  font-size: 48px;
}
.facts-block-texts {
  font-size: 20px;
  opacity: 0.7;
  width: 150px;
}
.contact {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 150px;
}
.contact p {
  text-transform: uppercase;
  font-size: 80px;
  letter-spacing: 1px;
  padding-bottom: 60px;
}
.contact-text {
  display: flex;
  flex-direction: column;
  padding-right: 65px;
  padding-left: 130px;
}
.contact-input {
  height: 45px;
  width: 495px;
  background-color: rgba(18, 20, 29, 1);
  border: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
  padding: 0;
}
.contact-input-details {
  height: 140px;
  width: 495px;
  background-color: rgba(18, 20, 29, 1);
  border: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.2);
  display: flex;
  padding: 0;
}
input::placeholder {
  color: white;
  padding-left: 28px;
  font-size: 20px;
  opacity: 0.8;
  align-self: flex-start;
}
.contact-button {
  margin-top: 20px;
  width: 168px;
  height: 43px;
  background-color: #c6100f;
  border: none;
  border-radius: 4px;
}
.contact-button a {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  opacity: 0.8;
}
.blog {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-title {
  font-size: 80px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 80px;
}
.blog-blocks {
  display: flex;
  gap: 52px;
}
.blog-block {
  background-color: #171924;
}
.marketing {
  font-size: 12px;
  background-color: rgba(255, 149, 215, 1);
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 108px;
  text-align: center;
  padding: 10px 0;
  margin-top: 30px;
}
.blog-block-text {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.design {
  font-size: 12px;
  background-color: rgba(255, 110, 110, 1);
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 108px;
  text-align: center;
  padding: 10px 0;
  margin-top: 30px;
}
.lets {
  width: 100%;
  margin-top: 100px;
  background-color: #c6100f;
  height: 169px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lets p {
  text-transform: uppercase;
  font-size: 58px;
  overflow: hidden;
}
.footer {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
}
.footer-left img {
  padding-bottom: 30px;
}
.footer-left p {
  padding-bottom: 30px;
  opacity: 0.7;
  font-size: 20px;
}
.footer-left li {
  display: flex;
  gap: 12px;
}
.footer-left a {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
}
.footer-right {
  display: flex;
  flex-direction: column;
  margin-left: 115px;
}
.footer-media {
  display: flex;
  justify-content: flex-end;
}
.footer-media img {
  padding-right: 9px;
  width: 16px;
  height: 16px;
  padding-bottom: 30px;
}
.footer-media p {
  padding-right: 30px;
  font-size: 15px;
}
.footer-contact p {
  text-align: end;
  text-transform: uppercase;
  font-size: 17px;
  padding-bottom: 13px;
}
